<div class="flex flex-row h-screen">
  <aside class="h-full">
    <app-side-nav
      (inviteToogled)="showInviteDialog = !showInviteDialog"
    ></app-side-nav>
  </aside>
  <main class="w-full flex flex-column shadow-1 border">
    <div class="w-full">
      <app-header></app-header>
    </div>
    <div class="h-full w-full p-5">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<p-dialog
  closable="true"
  header=" Code "
  [modal]="true"
  position="center"
  [(visible)]="showInviteDialog"
  closable="true"
  styleClass="mb-8 "
>
  <p-inputOtp
    styleClass="font-semibold"
    readonly="true"
    length="6"
    [ngModel]="currentUser.profile?.organization.inviteCode"
  ></p-inputOtp>
</p-dialog>
