<div class="flex flex-column gap-3">
  <form [formGroup]="joinForm">
    <p-inputOtp length="6" formControlName="Code"> </p-inputOtp>

    @if (cCode.dirty || showErrors) {
    <small class="text-red-400 mx-1" *ngIf="cCode.hasError('required')">
      email is required
    </small>
    <small class="text-red-400 mx-1" *ngIf="cCode.hasError('email')">
      please enter a valid email
    </small>
    }
  </form>

  @if (!joinState?.success && joinState?.data!=null) {
  <small class="text-red-400 mx-1" *ngIf="joinState?.data.code == 400">
    {{ joinState.data.messages }}
  </small>
  }@else{
  <small class="text-gray-400"> Enter Code Issued by your Manager</small>
  }

  <p-button
    (onClick)="join()"
    styleClass=""
    [disabled]=""
    raised="true"
    [loading]="joinState?.awaitingResponse"
    loadingIcon="pi pi-spin pi-spinner"
    [label]="joinState?.awaitingResponse ? '' : 'Join'"
    styleClass="w-full"
  >
  </p-button>
</div>
