<div class="flex justify-content-center align-items-center">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="orgForm"
    class="flex flex-column gap-1 details-form bg-white border-gray-100 border-round-2xl w-22rem p-2 px-5 justify-content-center"
  >
    <div class="flex flex-column mb-4">
      <input
        formControlName="Name"
        class="p-inputtext"
        type="text"
        placeholder="Name"
      />
      @if (cName.dirty || showFormErrors) {
      <small class="text-red-400 mx-1" *ngIf="cName.hasError('required')">
        Name is required
      </small>
      }
    </div>

    <div class="flex flex-column mb-3">
      <input
        formControlName="Description"
        class="p-inputtext"
        placeholder="Description"
      />

      @if (cDescription.dirty || showFormErrors) {
      <small class="text-red-400 mx-1" *ngIf="cDescription.hasError('required')"
        >Description is required
      </small>
      }
    </div>

    @if (!createOrgState.success && createOrgState.data!=null) {
    <small class="text-red-400 mx-1" *ngIf="createOrgState.data.code == 400">
      {{ createOrgState.data.messages }}
    </small>
    }

    <div class="mt-3 mb-5">
      <p-button
        type="submit"
        styleClass=""
        [disabled]=""
        raised="true"
        [loading]="createOrgState.awaitingResponse"
        loadingIcon="pi pi-spin pi-spinner"
        [label]="createOrgState.awaitingResponse ? '' : 'Create'"
        styleClass="w-full"
      >
      </p-button>
    </div>
  </form>
</div>
